* {
  margin: 0;
  padding: 0;
}
body {
  border-top: 10px solid #1098ad;
}
h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
.container {
  position: relative;
  width: 1300px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  color: #1098ad;
}
article {
  width: 900px;
  float: left;
}
h1 {
  color: blue;
  font-size: 25px;
  float: left;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  position: relative;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 1.5;
}
nav {
  float: right;
}
nav a {
  margin-left: 10px;
}
.main-header::after {
  clear: both;
  content: "";
  display: inline-block;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;

  text-transform: uppercase;
  text-align: center;
}

li {
  font-size: 20px;
}

#Copyright {
  font-size: 10px;
  margin-top: 5px;
}
.author-img {
  float: left;
  margin-bottom: 10px;
}
.author-details {
  float: left;
  margin-left: 10px;
}
.author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}
.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 50px;
}
.post-img {
  width: 100%;
  height: auto;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  float: right;
  width: 350px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}
/* li:nth-child(odd)
{
  color: red;

} */

/* styling link */
a:link {
  color: #1098ad;
  text-decoration: none;
}
a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
.like-btn {
  font-size: 20px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2::after {
  content: "TOP";
  font-size: 15px;
  color: #444;
  background-color: #ffe709;
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: -30px;
}
footer {
  clear: both;

  border-top: 1px solid #1098ad;
  text-align: center;
}
